PORT=3000
MONGODB_URI=mongodb://john:water@ac-dogfoel-shard-00-00.xqahjgk.mongodb.net:27017,ac-dogfoel-shard-00-01.xqahjgk.mongodb.net:27017,ac-dogfoel-shard-00-02.xqahjgk.mongodb.net:27017/fin-edge?ssl=true&replicaSet=atlas-dgxv95-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=MyLittleSecret